.banner{
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.banner-slider{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 45%;
    font-size: 1rem;
}

.banner-slider img {
    height: 50%;
    overflow: hidden;
    object-fit: cover;
}

.banner-slider .content { 
    position: absolute;
    left: 2.1%;  
    margin-top: 10px;
}

.banner-slider .subtitle { 
    margin-bottom: 1.3rem;
    font-family: 'Segoe Script';
    font-size: 3em; 
}
.banner-slider .label-star { margin-left: 2.5rem; }
.banner-slider .banner-title { 
    margin-left: -2px; 
    font-size: 6.4em; 
    margin-bottom: 0; 
}
.banner-slider h3 { 
    margin: -0.7rem 0 0.6rem;
    font-size: 5.6em; 
}
.banner-slider p { 
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.4; 
}